@model IEnumerable<InvViewer.Models.Building>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (InvViewer.Models.Building b in Model){
    <div>
        @b.Name
    </div>
}

<p>Модуль: {{ moduleName }}</p>
<p>Сообщение: {{ message }}</p>
<script type="text/javascript">
    angular.module('myApp', [])
        .run(function ($rootScope) {
            $rootScope.moduleName = "myApp";
            $rootScope.message = "Hello AngularJS";
        });
</script>